<div class="bg-white p-6 rounded-2xl shadow-xl max-w-md mx-auto text-center border border-pink-100">
  <h2 class="text-2xl font-bold text-pink-700 mb-6 tracking-wide">
    Sube una foto cabeza hueca 📸
  </h2>

  <input
    type="file"
    (change)="onFileSelected($event)"
    class="file:mr-4 file:py-2 file:px-4
           file:rounded-full file:border-0
           file:text-sm file:font-semibold
           file:bg-pink-100 file:text-pink-700
           hover:file:bg-pink-200 mb-4 w-full text-sm"
  />

  <button
    class="w-full bg-pink-500 hover:bg-pink-600 transition-colors text-white font-semibold py-2 px-4 rounded-full mt-4 disabled:opacity-50 disabled:cursor-not-allowed"
  (click)="uploadImage()"
    [disabled]="!selectedFile"
  >
    📤 Subir Foto
  </button>
  <button 
  class="mt-4 bg-pink-200 text-pink-900 font-semibold px-4 py-2 rounded-xl shadow-md hover:bg-pink-300 transition"
  (click)="mostrarCarta = true">
  💌 Carta para mi amor 💌
</button>

<!-- Carta decorativa -->
<div *ngIf="mostrarCarta" class="carta-romantica mt-6 mx-auto max-w-xl p-6">
  <h2 class="text-2xl font-bold text-pink-700 mb-2 text-center">LESLY 💖</h2>
  <p class="text-gray-800 leading-relaxed whitespace-pre-line text-justify">
    Hola amor
    Queria saber como te sientes, te extraño demaciado no me gustaria perderte
    sinceramente me sigues enamorando pero, ya sabes cualquier cosa me puedes decir...
    a mi la verdad me gusta estar a tu lado tus ojos, tu cara , tus gestos 
    todo me gusta de ti, no quiero rendime ante los malos ratos, los contratiempos a los 
    problemas, entiendo que las cosas no siempre son color de rosa y hay que pintarlo juntos
    a pesar de los dias te seguire eligiendo lesly . No se si sea pedir mucho, auque sientas a 
    veces que no hay solucion o que todo se torna gris, no quiero que seamos solo un parpadeo un
    momento para cada uno de nosotros, yo entiendo que a veces no te puedo comprar nada, o como
    me dijiste , no te aporto nada... igual entendere lo que quieres y necesitas amor... y cuando 
    no me quieras ya lo comprendere, me la eh pasado pensando y di ala conclusion que te amo mucho
    pero en dado caso de que no me quieras aceptare , debo aprender a que si tu eres feliz este o 
    no contigo yo sere feliz.. auque tenga miedo de que nadie vea la hermosa que te veo.. eso te lo
    digo si algun dia lo piensas o no me quieres amor xd pensar te ayuda a analizar y aterrizar las
    cosas. Por eso te escribo y me eh decidido olvidarme de los malos ratos de las ayeres y del pasado
    aprender de las historias, y seguir con el amor de mi vida, pasar nuevos momentos felices, llegar a
    muchas metas, divertirme contigo asi sea con una hamburguesa gigante o unos esquites, conocer lo 
    deconocido contigo, siempre juzgue hablar cursi y ahora me gusta decirte amor , preciosa muy raro
    pero cuando toca toca, no te ofresco menos ni te prometo mas pero si me enfocare y propondre un amor
    bonito como tu sonrisa mi amor.. gracias por leer 

    — Braulio 🌹
  </p>
</div>

  <p *ngIf="uploadMessage" class="mt-4 text-sm text-green-600">
    {{ uploadMessage }}
  </p>
</div>
